/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.login,
.image {
    min-height: 100vh;
}

.bg-image {
    background-image: url('../../asset/img/logo/sahabathewan1.png');
    background-size: 10;
    background-position: center center;
}